.divTextTick{
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.divTextTick p{
  margin: 0px;
  font-size: 18px;
  width: 250px;
}

.faTickIcon{
  color: #407BFF;
  width: 20px;
  margin: 0px;
}
.divCountUp{
  display: flex;
  flex-direction: row;
  margin: 15px;
  width: 300px;
}